.square {
  float: left;
  position: relative;
  width: 7%;
  padding-bottom: 7%; /* = width for a 1:1 aspect ratio */
  overflow: hidden;
  //border: 1px solid black;
}

.chosen{
  margin: 10px;
  background-color: black;
  color: white;
}

.container{
  padding: 20px
}
